/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img, :link img, :visited img {
  border: none;
}

:link, :visited {
  text-decoration: none;
}

body {
  font-family: Cronos-Regular, Verdana;
}

div.container {
  margin: 0 auto;
  width: 65%;
}

header {
  margin-top: 45px;
  margin-bottom: 45px;
}

div.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
div.top .logo {
  padding: 5px;
}
div.top nav {
  display: flex;
  padding-left: 10px;
}
div.top nav ul.nav-options {
  display: flex;
}
div.top nav ul.nav-options li {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
div.top nav ul.nav-options li a {
  margin: auto;
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #000;
}
div.top nav ul.nav-options li:hover a {
  color: #5dddc8;
  text-decoration: underline;
}
div.top nav ul.social-icons {
  display: flex;
  padding-left: 10px;
  margin-left: auto;
}
div.top nav ul.social-icons li {
  display: flex;
}
div.top nav ul.social-icons a {
  padding: 5px;
  margin: auto;
}
div.top nav ul.social-icons .icon {
  padding: 3px;
  width: 28px;
  height: 28px;
}

nav.bottom {
  margin-top: 15px;
}
nav.bottom ul {
  display: flex;
}
nav.bottom ul li {
  margin-right: 35px;
}
nav.bottom ul li a {
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #000;
}
nav.bottom ul li:hover a {
  color: #5dddc8;
  text-decoration: underline;
}
nav.bottom ul li:last-of-type {
  margin-right: 0;
}

div.banner {
  margin-top: 25px;
  margin-bottom: 50px;
}
div.banner img {
  height: auto;
  width: 100%;
}

main {
  margin-bottom: 50px;
}
main .container {
  display: flex;
  padding-bottom: 30px;
}
main .container article {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  color: #7b7b7d;
  line-height: 18px;
}
main .container article:first-of-type {
  padding-left: 0;
}
main .container article:last-of-type {
  padding-right: 0;
}
main .container article img {
  width: 100%;
  height: auto;
}
main .container article h2 {
  margin: 20px 0;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
main .container article p {
  text-align: center;
  margin-bottom: 10px;
}
main .container article a {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
main .container article a:hover {
  color: #5dddc8;
}

footer {
  color: #fff;
}
footer .container {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/footer-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer h2 {
  margin: 35px 0;
  text-align: center;
  font-size: 22px;
  letter-spacing: 4px;
  font-family: arial;
  text-transform: uppercase;
}
footer .container .links {
  width: 90%;
}
footer ul.footer-links {
  display: flex;
  justify-content: space-between;
}
footer ul.footer-links h3 {
  padding-left: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
footer ul.footer-links ul {
  display: flex;
  flex-direction: column;
}
footer ul.footer-links ul li {
  margin-bottom: 6px;
}
footer ul.footer-links ul li a {
  font-size: 10px;
  color: #fff;
  text-decoration: underline;
  padding: 4px;
}
footer ul.footer-links ul li:last-of-type {
  margin-bottom: 0;
}
footer ul.footer-links ul.social-media {
  flex-direction: row;
}
footer ul.footer-links ul.social-media li {
  display: flex;
}
footer ul.footer-links ul.social-media li a {
  padding: 5px;
}
footer ul.footer-links ul.social-media .icon {
  fill: white;
  height: 28px;
  width: 28px;
}
footer ul.copyright {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 30px 0;
}
footer ul.copyright li {
  font-size: 10px;
  padding: 5px;
}
footer ul.copyright li a {
  font-size: 10px;
  color: #fff;
  text-decoration: underline;
}
footer ul.copyright li:last-of-type {
  position: absolute;
  top: 0;
  right: 15px;
}
footer ul.copyright li.after {
  position: relative;
}
footer ul.copyright li.after:after {
  position: absolute;
  content: "";
  z-index: 1;
  background-color: white;
  top: 20%;
  right: 0;
  height: 60%;
  width: 1px;
}

/*# sourceMappingURL=style.css.map */
